// 나라별 font-family

:lang(ja) {
  font-family: AppleSDGothicNeo, "AppleSDGothicNeo", Droid Sans, "Droid Sans","メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "맑은고딕", "malgun gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

:lang(th) {
  font-family: AppleSDGothicNeo, "AppleSDGothicNeo", Droid Sans, "Droid Sans", Tahoma, "Microsoft Sans Serif", Leelawadee , "Leelawadee", sans-serif, "sans-serif"; }

:lang(tw) {
  font-family: PingFangSC, 'PingFangSC', AppleSDGothicNeo, "AppleSDGothicNeo", Droid Sans, "Droid Sans", Pingfang, "Pingfang", Pingfang SC, "Pingfang SC", JhengHei, "JhengHei", STXihei, "STXihei", Noto sans, "Noto sans", san-serif, "sans-serif"; }

:lang(en) {
  font-family: AppleSDGothicNeo, "AppleSDGothicNeo", Droid Sans, "Droid Sans",SF Pro Display, "SF Pro Display", sans-serif; }

:lang(ko) {
  font-family: AppleSDGothicNeo, "AppleSDGothicNeo", Droid Sans, "Droid Sans","맑은고딕", "malgun gothic", AppleSDGothicNeo, "AppleSDGothicNeo", Droid Sans, "Droid Sans", sans-serif, "sans-serif"; }
